## Technology Stocks in the S&P 500 Portfolio using Markowitz's modern portfolio theory

The Historical dataset

#### Importing libraries

In [1]:
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt
from scipy import optimize
import warnings
warnings.filterwarnings('ignore')

**The Historical stock datasets was downloaded in the form of cvs files and in the cell below, the data was read**

**A much faster approach is an API call, one of which is the use of a library such as yfinance to get the stock data from Yahoo finance**

In [2]:
# Get a list of all CSV files in a directory
csv_files = glob.glob('data/*.csv')

# Create an empty dataframe to store the combined data

combined_df = pd.DataFrame()

for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    file_name = str(csv_file.split('.')[0].split('\\')[-1])
    updated_df = df[['Date', 'Close']]
    updated_df[file_name] = updated_df['Close']
    updated_df.drop(['Close'], axis=1, inplace=True)
    updated_df['Date'] = pd.to_datetime(arg=updated_df['Date'])
    updated_df.set_index('Date', inplace=True)
    
    combined_df = pd.concat([combined_df, updated_df], axis=1)

    
# While downloading the dataset, the ending dates considered for the stock was 30th of August but some
# stocks had their end dates beyond that.The line of code was used to make the stock end dates uniform
combined_df.drop([combined_df.index[-1], combined_df.index[-2]], inplace=True)


# Reversing the order of the sorting

<br>
<br>

**Viewing the dataset**

In [3]:
combined_df

,AAPL,ACN,ADBE,ADI,ADSK,AKAM,AMAT,AMD,ANET,ANSS,...,SWKS,TDY,TEL,TER,TRMB,TXN,TYL,VRSN,WDC,ZBRA
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-03,14.686786,52.950001,28.570000,36.029999,30.809999,32.930000,10.700000,5.480000,NaN,57.389999,...,16.820000,55.820000,31.480000,13.750000,20.815001,29.760000,30.340000,35.820000,30.980000,35.720001
2012-01-04,14.765714,52.930000,28.280001,35.980000,30.209999,32.439999,10.760000,5.460000,NaN,56.400002,...,16.780001,55.790001,31.570000,14.180000,20.105000,29.570000,30.360001,35.820000,31.299999,35.450001
2012-01-05,14.929643,51.919998,28.480000,36.139999,30.820000,32.430000,10.830000,5.460000,NaN,57.299999,...,17.280001,55.570000,31.920000,14.620000,20.385000,29.780001,31.090000,35.740002,32.759998,35.400002
2012-01-06,15.085714,51.830002,28.719999,35.900002,30.959999,32.759998,11.010000,5.430000,NaN,56.939999,...,17.150000,55.580002,32.360001,14.630000,20.075001,29.780001,31.809999,35.400002,33.490002,35.110001
2012-01-09,15.061786,51.740002,28.530001,36.599998,31.080000,32.610001,11.340000,5.590000,NaN,56.680000,...,17.809999,55.220001,32.810001,14.890000,20.870001,30.160000,31.559999,35.020000,33.750000,34.950001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-24,176.380005,314.140015,512.429993,173.690002,208.600006,101.650002,142.520004,101.800003,179.190002,298.559998,...,104.230003,406.000000,127.559998,102.110001,52.259998,165.589996,375.119995,202.570007,39.869999,265.920013
2023-08-25,178.610001,318.760010,525.059998,178.160004,215.919998,102.820000,144.360001,102.250000,180.899994,304.890015,...,105.389999,408.549988,128.639999,103.779999,52.150002,167.809998,378.790009,205.740005,39.490002,268.390015
2023-08-28,180.190002,320.910004,529.919983,180.330002,217.089996,103.220001,145.419998,102.610001,181.960007,308.149994,...,106.199997,416.130005,129.750000,104.570000,53.259998,168.699997,384.250000,206.529999,41.410000,269.920013
2023-08-29,184.119995,323.450012,540.570007,182.559998,219.399994,104.400002,149.979996,105.919998,185.449997,314.209991,...,107.779999,417.910004,131.190002,107.370003,54.240002,170.690002,391.589996,207.350006,41.549999,273.489990
2023-08-30,187.649994,323.250000,545.359985,181.570007,221.550003,104.639999,150.949997,106.589996,187.100006,315.959991,...,107.980003,420.070007,131.929993,107.370003,54.250000,169.229996,397.959991,209.119995,42.520000,279.109985

<br>
<br>
<br>

**The historical stock data considered was ten years, using daily data - from 01-01-2012 to 30-08-2023**

**The start date for stock was 03-01-2012 as the first two days of 2012 were public holidays.**

**Some Technology companies on the S&P 500 do not have their stock options extend back to 2012, and they were therfore dropped from the dataset used leaving us with 52 portfolios**

In [4]:
# Dropping portfolios that are not up to 10 years

combined_df.dropna(axis=1, how='any', inplace=True)

In [5]:
combined_df.sort_values(['Date'], ascending=False)

,AAPL,ACN,ADBE,ADI,ADSK,AKAM,AMAT,AMD,ANSS,AVGO,...,SWKS,TDY,TEL,TER,TRMB,TXN,TYL,VRSN,WDC,ZBRA
Date,,,,,,,,,,,,,,,,,,,,,
2023-08-30,187.649994,323.250000,545.359985,181.570007,221.550003,104.639999,150.949997,106.589996,315.959991,892.280029,...,107.980003,420.070007,131.929993,107.370003,54.250000,169.229996,397.959991,209.119995,42.520000,279.109985
2023-08-29,184.119995,323.450012,540.570007,182.559998,219.399994,104.400002,149.979996,105.919998,314.209991,889.929993,...,107.779999,417.910004,131.190002,107.370003,54.240002,170.690002,391.589996,207.350006,41.549999,273.489990
2023-08-28,180.190002,320.910004,529.919983,180.330002,217.089996,103.220001,145.419998,102.610001,308.149994,861.080017,...,106.199997,416.130005,129.750000,104.570000,53.259998,168.699997,384.250000,206.529999,41.410000,269.920013
2023-08-25,178.610001,318.760010,525.059998,178.160004,215.919998,102.820000,144.360001,102.250000,304.890015,851.820007,...,105.389999,408.549988,128.639999,103.779999,52.150002,167.809998,378.790009,205.740005,39.490002,268.390015
2023-08-24,176.380005,314.140015,512.429993,173.690002,208.600006,101.650002,142.520004,101.800003,298.559998,854.460022,...,104.230003,406.000000,127.559998,102.110001,52.259998,165.589996,375.119995,202.570007,39.869999,265.920013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-01-09,15.061786,51.740002,28.530001,36.599998,31.080000,32.610001,11.340000,5.590000,56.680000,30.219999,...,17.809999,55.220001,32.810001,14.890000,20.870001,30.160000,31.559999,35.020000,33.750000,34.950001
2012-01-06,15.085714,51.830002,28.719999,35.900002,30.959999,32.759998,11.010000,5.430000,56.939999,28.309999,...,17.150000,55.580002,32.360001,14.630000,20.075001,29.780001,31.809999,35.400002,33.490002,35.110001
2012-01-05,14.929643,51.919998,28.480000,36.139999,30.820000,32.430000,10.830000,5.460000,57.299999,28.490000,...,17.280001,55.570000,31.920000,14.620000,20.385000,29.780001,31.090000,35.740002,32.759998,35.400002
2012-01-04,14.765714,52.930000,28.280001,35.980000,30.209999,32.439999,10.760000,5.460000,56.400002,28.450001,...,16.780001,55.790001,31.570000,14.180000,20.105000,29.570000,30.360001,35.820000,31.299999,35.450001
2012-01-03,14.686786,52.950001,28.570000,36.029999,30.809999,32.930000,10.700000,5.480000,57.389999,28.950001,...,16.820000,55.820000,31.480000,13.750000,20.815001,29.760000,30.340000,35.820000,30.980000,35.720001

<br>
<br>

**Viewing the info of the dataset to ensure that the available data is consistent**

In [7]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2934 entries, 2012-01-03 to 2023-08-30
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2934 non-null   float64
 1   ACN     2934 non-null   float64
 2   ADBE    2934 non-null   float64
 3   ADI     2934 non-null   float64
 4   ADSK    2934 non-null   float64
 5   AKAM    2934 non-null   float64
 6   AMAT    2934 non-null   float64
 7   AMD     2934 non-null   float64
 8   ANSS    2934 non-null   float64
 9   AVGO    2934 non-null   float64
 10  CDNS    2934 non-null   float64
 11  CRM     2934 non-null   float64
 12  CSCO    2934 non-null   float64
 13  CTSH    2934 non-null   float64
 14  FFIV    2934 non-null   float64
 15  FICO    2934 non-null   float64
 16  FSLR    2934 non-null   float64
 17  FTNT    2934 non-null   float64
 18  GEN     2934 non-null   float64
 19  GLW     2934 non-null   float64
 20  HPQ     2934 non-null   float64
 21  IBM     2934 non-null   float64
 22  INTC    2934 non-null   float64
 23  INTU    2934 non-null   float64
 24  IT      2934 non-null   float64
 25  JNPR    2934 non-null   float64
 26  KLAC    2934 non-null   float64
 27  LRCX    2934 non-null   float64
 28  MCHP    2934 non-null   float64
 29  MPWR    2934 non-null   float64
 30  MSFT    2934 non-null   float64
 31  MSI     2934 non-null   float64
 32  MU      2934 non-null   float64
 33  NTAP    2934 non-null   float64
 34  NVDA    2934 non-null   float64
 35  NXPI    2934 non-null   float64
 36  ON      2934 non-null   float64
 37  ORCL    2934 non-null   float64
 38  PTC     2934 non-null   float64
 39  QCOM    2934 non-null   float64
 40  SNPS    2934 non-null   float64
 41  STX     2934 non-null   float64
 42  SWKS    2934 non-null   float64
 43  TDY     2934 non-null   float64
 44  TEL     2934 non-null   float64
 45  TER     2934 non-null   float64
 46  TRMB    2934 non-null   float64
 47  TXN     2934 non-null   float64
 48  TYL     2934 non-null   float64
 49  VRSN    2934 non-null   float64
 50  WDC     2934 non-null   float64
 51  ZBRA    2934 non-null   float64
dtypes: float64(52)
memory usage: 1.2 MB

## Include at least one plot, particularly, a line chart

# Daily Returns for Individual Assets

In [ ]:
# Get a list of all CSV files in a directory
csv_files = glob.glob('data/*.csv')

# Create an empty dataframe to store the combined data

daily_returns = pd.DataFrame()

for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    file_name = str(csv_file.split('.')[0].split('\\')[-1])
    if file_name in list(combined_df.columns):
        ind_daily_return = pd.DataFrame(combined_df[file_name].pct_change())
        daily_returns = pd.concat([daily_returns, ind_daily_return], axis=1)

In [ ]:
daily_returns

In [ ]:
daily_returns = daily_returns.sort_values(['Date'], ascending=False).mul(100)
daily_returns

In [ ]:
daily_returns

# Monthly returns for individual asset

In [ ]:
# Get a list of all CSV files in a directory
csv_files = glob.glob('data/*.csv')

# Create an empty dataframe to store the combined data

monthly_returns = pd.DataFrame()

for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    file_name = str(csv_file.split('.')[0].split('\\')[-1])
    if file_name in list(combined_df.columns):
        ind_monthly_return = pd.DataFrame(combined_df[file_name].resample('M').ffill().pct_change())
        monthly_returns = pd.concat([monthly_returns, ind_monthly_return], axis=1)

In [ ]:
monthly_returns = monthly_returns.sort_values(['Date'], ascending=False).mul(100)
monthly_returns

## Averages and Variance

In [ ]:
daily_avg = pd.DataFrame(daily_returns.mean(), columns=['Average_Daily_Return'])
monthly_avg = pd.DataFrame(monthly_returns.mean(), columns=['Average_Monthly_Return'])


# Variance
daily_variance = pd.DataFrame(daily_returns.var(), columns=['Daily_Return_Variance'])
monthly_variance = pd.DataFrame(monthly_returns.var(), columns=['Monthly_Return_Variance'])

In [ ]:
averages = pd.concat([daily_avg, monthly_avg, daily_variance, monthly_variance], axis=1)

averages['Average_Annual_Return'] = pd.DataFrame(monthly_avg.mul(12))

averages['Annual_Variance'] = pd.DataFrame(monthly_variance.mul(12))

In [ ]:
averages

## Returns

In [ ]:
returns = pd.DataFrame(daily_returns.mean(), columns=['Returns']).mul(252)

returns

In [ ]:
returns = averages['Average_Annual_Return']

returns

## Variance-Covariance Matrix

In [ ]:
# Using the monthly returns, we compute the covariance matrix

covariance = monthly_returns.cov()
covariance

In [ ]:
# Using the monthly returns, we compute the covariance matrix

covariance2 = daily_returns.cov()
covariance2

## Equally-Weighted Portfolio

The sum of the individual weights is expected to be equal to 1

In [ ]:
def equal_weights(df):
    data = []
    weight = 1/len(list(df.columns))
    for col in df.columns:
        data.append([col, weight])
    
    weight_df = pd.DataFrame(data, columns=['Ticker', 'Weights'])
    
    
    return weight_df.set_index('Ticker')

In [ ]:
weight_df = equal_weights(combined_df)
weight_df

### Expected Returns

Expected return is the product of Weights and returns

In [ ]:
expected_return = weight_df.transpose().dot(returns)

expected_return.values[0][0]

### Expected Return in percentage

In [ ]:
expected_return_perc = expected_return['Returns'].apply('{:.2%}'.format)[0]

print(expected_return_perc)

## Standard Deviation

In [ ]:
std_dev = weight_df.transpose().dot(covariance).dot(weight_df).apply(np.sqrt,axis=1)

std_dev['Weights'].values[0]

### Sharpe Ratio

**Using a Risk Free Rate of `3.00%`**

In [ ]:
risk_free_rate = 3.8/100.0

sharpe_ratio = (expected_return['Returns'].values[0] - risk_free_rate)/std_dev['Weights'].values[0]

sharpe_ratio

### Optimal Risky Portfolio Weight

In [ ]:
def equal_weights(df):
    data = []
    weight = 1/len(list(df.columns))
    for col in df.columns:
        data.append([col, weight])
    
    weight_df = pd.DataFrame(data, columns=['Ticker', 'Weights'])
    
    
    return weight_df.set_index('Ticker')

In [ ]:
Optimal_weight_df = equal_weights(combined_df)

Optimal_weight_df

### Optimal Expected Returns

In [ ]:
optimal_expected_return = weight_df.transpose().dot(returns)

optimal_expected_return.values[0][0]

#### Optimal Expected Return in percentage

In [ ]:
optimal_expected_return_perc = optimal_expected_return['Returns'].apply('{:.2%}'.format)[0]

print(optimal_expected_return_perc)

#### Standard Deviation

In [ ]:
optimal_std_dev = weight_df.transpose().dot(covariance).dot(weight_df).apply(np.sqrt,axis=1)

optimal_std_dev['Weights'].values[0]

In [ ]:
optimal_std_dev_perc = optimal_std_dev['Weights'].apply('{:.2%}'.format)[0]

print(optimal_std_dev_perc)

### Sharpe Ratio

**Using a Risk Free Rate of `3.00%`**

In [ ]:
#set risk free asset rate of return
Rf=3.8  # August 2023 average risk  free rate of return in USA approx 3.8%
annRiskFreeRate = Rf/100

#compute daily risk free rate in percentage
risk_free_rate = (np.power((1 + annRiskFreeRate),  (1.0 / 360.0)) - 1.0) * 100 
print('\nRisk free rate (daily %): ', end="")
print ("{0:.3f}".format(risk_free_rate))

In [ ]:
risk_free_rate = 3.8/100

sharpe_ratio = (expected_return['Returns'].values[0] - risk_free_rate)/std_dev['Weights'].values[0]

sharpe_ratio

In [ ]:
risk_free_rate

## Sharpe Ratio based Portfolio Optimization

### The Principle of duality

SInce Scipy Optimization Library only minimize, the principle of duality from optimization theory can be used to undertake transformation to obtain maximization.

In [ ]:
# Function to undertake Sharpe Ratio maximization subject to basic constraints of the portfolio

#dependencies

def MaximizeSharpeRatioOptmzn(AverageReturns, VarianceCovariancce, RiskFreeRate, PortfolioSize):
    
    # define maximization of Sharpe Ratio using principle of duality
    
    def  ObjectiveFunction(weights, AverageReturns, VarianceCovariancce, RiskFreeRate, PortfolioSize):
        Expected_Return = weights.transpose().dot(AverageReturns)
        Standard_Deviation = np.sqrt(weights.transpose().dot(VarianceCovariancce).dot(weights))
        funcDenom = Standard_Deviation
        funcNumer = Expected_Return - RiskFreeRate
        
        func = -(funcNumer / funcDenom)
        return func

    # define equality constraint representing fully invested portfolio
    def constraintEq(weights):
        A=np.ones(weights.shape)
        b=1
        constraintVal = np.matmul(A,weights.T)-b 
        return constraintVal
    
    
    #define bounds and other parameters
    xinit=np.repeat(0.33, PortfolioSize)
    cons = ({'type': 'eq', 'fun':constraintEq})
    lb = 0
    ub = 1
    bnds = tuple([(lb,ub) for x in xinit])
    
    #invoke minimize solver
    OptimizedSharpeRatio = optimize.minimize (ObjectiveFunction, x0 = xinit, args = (AverageReturns, VarianceCovariancce, 
                                                    RiskFreeRate, PortfolioSize), method = 'SLSQP', 
                                                     bounds = bnds, constraints = cons, tol = 10**-3)
    
    return OptimizedSharpeRatio

In [ ]:
portfolioSize = len(returns)

sharpeRatio = MaximizeSharpeRatioOptmzn(returns, covariance, risk_free_rate, portfolioSize)

In [ ]:
sharpeRatio

In [ ]:
pd.DataFrame(sharpeRatio)

In [ ]:
# obtain maximal Sharpe Ratio for k-portfolio 1 of Dow stocks

#set portfolio size
#portfolioSize = Columns

#set risk free asset rate of return
Rf=3.8  # August 2023 average risk  free rate of return in USA approx 3.8%
annRiskFreeRate = Rf/100

#compute daily risk free rate in percentage
risk_free_rate = (np.power((1 + annRiskFreeRate),  (1.0 / 360.0)) - 1.0) * 100 
print('\nRisk free rate (daily %): ', end="")
print ("{0:.3f}".format(risk_free_rate)) 

#initialization
xOptimal =[]
minRiskPoint = []
expPortfolioReturnPoint =[]
maxSharpeRatio = 0

#compute maximal Sharpe Ratio and optimal weights
result = MaximizeSharpeRatioOptmzn(returns, covariance2, risk_free_rate, portfolioSize)
xOptimal.append(result.weights)

    
#compute risk returns and max Sharpe Ratio of the optimal portfolio   
xOptimalArray = np.array(xOptimal)
Risk = np.matmul((np.matmul(xOptimalArray,covReturns)), np.transpose(xOptimalArray))
expReturn = np.matmul(np.array(meanReturns),xOptimalArray.T)
annRisk =   np.sqrt(Risk*251) 
annRet = 251*np.array(expReturn) 
maxSharpeRatio = (annRet-Rf)/annRisk 

#set precision for printing results
np.set_printoptions(precision=3, suppress = True)


#display results
print('Maximal Sharpe Ratio: ', maxSharpeRatio, '\nAnnualized Risk (%):  ',
      annRisk, '\nAnnualized Expected Portfolio Return(%):  ', annRet)
print('\nOptimal weights (%):\n',  xOptimalArray.T*100 )